

  .shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    gap: 20px;
    padding: 22px;
  }

  main {
    padding-left: 370px;
    display: flex;
    flex-direction: column;
  }